<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= app.name %></title>
    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= app.id %>" />
    <link href="/stylesheets/gigfm.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/GigDetector.js"></script>
    <script type="text/javascript" src="/scripts/YoutubeSearch.js"></script>
    <script type="text/javascript" src="/scripts/swfobject.js"></script>
    <script type="text/javascript" src="/scripts/Player.js"></script>
    <script type="text/javascript" src="/scripts/event.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <a href="/gigs"><img src="/images/logo.png" alt="logo" title="Gig.fm" width="91" height="35" /></a>
        <div class="user">
          <div class="user-avatar">
            <img src="<%= user.img %>" alt="user avatar" title="" />
          </div>
          <p>Hello <span><%= user.name %></span></p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="content-playlist">
        <div class="head-event">
          <h1>Loading event...</h1>
          <p id="date">(date)</p>
          <a href="#" id="buy">Buy tickets</a>
        </div>
          
        <div id="player" class="playlist">
          <div id="videoPlayer"></div>
        <!--
          <div class="buttons">
            <button id="btnPrev" onclick="playem.prev()"></button>
            <button id="btnPlay" onclick="playem.playPause()"></button>
            <button id="btnNext" onclick="playem.next()"></button>
          </div>
          <div class="progressPanel">
            <div class="progressTrack">
              <div class="progressBar"></div>
              <div class="progressCursor"></div>
            </div>
            <div id="progressTimer"></div>
          </div>
        -->
          <div class="tracklist">
            <ul id="tracklist"></ul>
          </div>
        </div>
        
        <div class="rightbar">
          <div class="lineup">
            <h3>Line Up</h3>
            <ul id="artists"></ul>
            <div class="clear"></div>
          </div>

          <div class="adress">
            <h3>Venue</h3>
            <div id="map">
              <iframe width="382" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=""></iframe>          
              <div id="adresse">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>
          
          <div class="share">
            <h3>Share with friends</h3>
            <div class="links">
              <ul>
                <li>
                  <a href="https://twitter.com/share" class="twitter-share-button" data-via="gigfm_net">Tweet</a>
                  <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
                </li>
                <li>
                  <iframe class="fblikeBtn" src="http://www.facebook.com/plugins/like.php?href=<%= app.url %><%= req.originalUrl %>&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div><!-- END CONTENT -->      
    </div>
  </body>
</html>

