<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <title>Loading event...</title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />
    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->
    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= app.id %>" />
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/GigDetector.js"></script>
    <script type="text/javascript" src="/scripts/YoutubeSearch.js"></script>
    <script type="text/javascript" src="/scripts/swfobject.js"></script>
    <script type="text/javascript" src="/scripts/Player.js"></script>
    <script type="text/javascript" src="/scripts/event.js"></script>
    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="clearfix">
      <div>
        <h1>Loading event...</h1>
      </div>
    </header>

    <div id="player">
      <div class="buttons">
        <button id="btnPrev" onclick="playem.prev()"></button>
        <button id="btnPlay" onclick="playem.playPause()"></button>
        <button id="btnNext" onclick="playem.next()"></button>
      </div>
      <div class="progressPanel">
        <div class="progressTrack">
          <div class="progressBar"></div>
          <div class="progressCursor"></div>
        </div>
        <div id="progressTimer"></div>
      </div>
    </div>

    <ul id="events">
    </ul>

  </body>
</html>

