<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gig.fm - Play your upcoming concert</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= app.id %>" />
    <link href="/stylesheets/style-home.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
      $('.baseline').hide().delay(400).fadeIn('slow');
      $('.btn-action').hide().delay(800).fadeIn('slow');
    });
    </script>
  </head>
  <body>
    <div id="background-home">
      <div class="wrap">
        <div id="header">
          <a href="/"><img src="/images/logo.png" alt="logo" title="Gig.fm" width="91" height="35" /></a>
        </div>
        
        <div class="baseline">
          <h1>Play your upcoming concert</h1>
          <h2>Discover awesome new bands, go see them on stage!</h2>
          <a class="btn-action" href="https://www.last.fm/api/auth/?api_key=<%= apiKey %>">Connect with last.fm</a>
        </div>
        
      </div>
    </div>
    
    <div class="wrap">
      <div class="content-concert">
        <h2>Popular upcoming concert</h2>
        
        <ul>
          <li>
            <p class="date">Saturday, December 15th 2012</p>
            <div class="cover">
              <img src="/images/cover-concert.jpg" />
              <div class="info">
                <h3>SoulwaxMax</h3>
                <p class="adress-fast">Grande Halle de la Villette, Paris</p>
              </div>
              
              <div class="overlay">
                <a href="#">
                  <div class="black-cover"></div>
                  <div class="play"></div>
                </a>
              </div>
            </div>
          </li>
          
          <li>
            <p class="date">Saturday, December 15th 2012</p>
            <div class="cover">
              <img src="/images/cover-concert2.png" />
              <div class="info">
                <h3>SoulwaxMax</h3>
                <p class="adress-fast">Grande Halle de la Villette, Paris</p>
              </div>
              
              <div class="overlay">
                <a href="playlist.html">
                  <div class="black-cover"></div>
                  <div class="play"></div>
                </a>
              </div>
            </div>
          </li>
          
          <li>
            <p class="date">Saturday, December 15th 2012</p>
            <div class="cover">
              <img src="/images/cover-concert2.png" />
              <div class="info">
                <h3>SoulwaxMax</h3>
                <p class="adress-fast">Grande Halle de la Villette, Paris</p>
              </div>
              
              <div class="overlay">
                <a href="playlist.html">
                  <div class="black-cover"></div>
                  <div class="play"></div>
                </a>
              </div>
            </div>
          </li>
          
      
      </ul>
      </div>  
      <div class="clear"></div>
      
      <div class="footer">
        <p>Crafted with Love in Paris, France.</p>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="">Facebook</a></li>
          <li><a href="">Twitter</a></li>
      </div>
    </div>
    
    <!--
    <section id="bookmarklet">
      <p>Drag &amp; drop this link to your bookmarks bar</p>
      <a href="javascript:(function()%7Bdocument.body.appendChild(document.createElement('script')).src='https://gigfm.herokuapp.com/scripts/bookmarklet.js?'+(new%20Date()).getTime();;%7D)();" class="button" onclick="alert('drop this to your bookmarks bar')">+ gigFM</a>
    </section>
    -->
  </body>
</html>

